@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
  --headerColor: #232528;
  --tittleColor: #eaf6ff;  
  --orange: #ffa400;
  --blue: #009FFD;
  --rblue: #2A2A72;
}

h1{
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    color: var(--tittleColor);
}
p, h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 22;
}

#subtext{
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: gainsboro;
}

#footer-msg{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}