@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --headerColor: #232528;
  --tittleColor: #eaf6ff;  
  --orange: #ffa400;
  --blue: #009FFD;
  --rblue: #2A2A72;
}

body{
    max-height: 100dvh;
    max-width: 100dvw;
    background-color: gainsboro;
}
/*  HEADER SETUP    */
.header_box{
    background-color: var(--headerColor);

    width: 100%;
    height: 33.3%;
    text-align: center;
    color: var(--tittleColor);
}
.header_content h1{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 50px;
}
.header_content h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

footer{
    text-align: center;
}